apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: garage-controller-system
resources:
- manager.yaml

patches:
- path: manager_metrics_patch.yaml
  target:
    kind: Deployment
