apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: garage-controller-system
resources:
- namespace.yaml
- manager.yaml

patches:
- path: manager_metrics_patch.yaml
  target:
    kind: Deployment
images:
- name: controller
  newName: garage.getclustered.net/garage-storage-controller
  newTag: v0.0.1
