apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: garage-storage-controller-system
resources:
- namespace.yaml
- manager.yaml
- metrics_service.yaml

patches:
- path: manager_metrics_patch.yaml
  target:
    kind: Deployment
