apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../crd
  - ../../rbac
  - ../../rbac/namespaces/default
  - ../../manager
  - ../../garage

images:
  - name: controller
    # image configuration for e2e build (see e2e_suite_test.go):
    newName: garage.getclustered.net/garage-storage-controller
    newTag: v0.0.1

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: GARAGE_API_ENDPOINT
          value: http://garage-0.garage.garage-system.svc.cluster.local:3903
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: GARAGE_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: garage-api-token
              key: api-token
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: GARAGE_S3_API_ENDPOINT
          value: "https://s3.api.foo.net"
    target:
      group: apps
      version: v1
      kind: Deployment
      name: garage-controller
