apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: garage
spec:
  selector:
    matchLabels:
      app: garage
  serviceName: "garage"
  replicas: 1
  template:
    metadata:
      labels:
        app: garage
    spec:
      terminationGracePeriodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: garage-config
        - name: metadata
          emptyDir: {}
        - name: data
          emptyDir: {}
      containers:
      - name: garage
        image: dxflrs/garage:v2.1.0
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: false
        ports:
        - containerPort: 3900
          name: s3-api
        - containerPort: 3902
          name: web-api
        - containerPort: 3903
          name: admin-api
        env: []
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 1500m
            memory: 256Mi
        volumeMounts:
        - name: config
          mountPath: /etc/garage.toml
          subPath: garage.toml
        - name: metadata
          mountPath: /var/lib/garage/meta
        - name: metadata
          mountPath: /var/lib/garage/data
