apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: garage-storage-controller-system

resources:
  - configmap.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: GARAGE_API_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: garage-controller-config
              key: garage_api_endpoint
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: GARAGE_API_TOKEN
          valueFrom:
            secretKeyRef:
              name: garage-api-token
              key: api-token
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: GARAGE_S3_API_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: garage-controller-config
              key: garage_s3_api_endpoint
    target:
      group: apps
      version: v1
      kind: Deployment
      name: controller-manager
